# Database
DATABASE_URL="postgresql://username:password@localhost:5432/pokemon_tcg_deck_manager"

# Pokémon TCG API
POKEMON_TCG_API_KEY="coloque_sua_api_key_da_pokemon_tcg_api_aqui"

# Modo Demo (true para ativar login demo e seeds)
NEXT_PUBLIC_DEMO_MODE=true
